form {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 95%;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 50px;
  resize: none;
  margin-bottom: 5px;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  height: 30px;
  margin-bottom: 5px;
}

.user-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.user-button:hover {
  background-color: darkblue;
}
